header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .header-content {
    margin-left: 20%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-items,
  .right-items {
    display: flex;
    gap: 20px;
  }
  
  a {
    text-decoration: none;
    padding: 5px;
  }
  
  .right-items a:hover {
    color: #007bff;
  }

  .left-items a:hover {
    color: #007bff;
  }
  
  .logo img {
    height: 80px;
  }
  
  .left-items {
    margin-top: -30px;
    align-items: flex-start;
  }
  
  .right-items {
    margin-top: -30px;
    align-items: flex-start;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 10%;
  }
  
  .right-items a{
    color: blueviolet;
  }

  .left-items a{
    color: blueviolet;
  }

  .left-items img:hover{
    transform: scale(1.1);
  }
  
  .button {
    background: transparent;
    border: 2px solid violet;
    margin-top: -5px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    color: white;
    border-radius: 5px;
  }
  
  .lines{
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .lines hr{
    border: none;
    border-top: 1.8px solid purple;
  }


  /*Footer*/

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
      background-color: #273238;
      color: white;
       text-align: center;
    padding: 30px;
  }
  
  footer a {
      text-decoration : none;
      color : white;
  }

  #textdown a:hover{
    color: #007bff;
  }

  .logo img:hover{
    transform: scale(1.1);
  }

  .button:hover{
    background-color: #85beff;
    border: 2px solid #007bff;
  }


  /*Dark Mode*/

  .wrapper {
    min-height:100vh;
    background:white;
    }
    
    #color-mode:checked ~ .wrapper {
    background:black;
    }
  
    #color-mode, .darkButton{
      position: absolute;
      margin-top: 35px;
      margin-left: 10px;
    }
  
    #color-mode{
      visibility: hidden;
    }
  
    .darkButton{
      font-size: large;
      border: 2px solid rgb(186, 45, 211);
      border-radius: 5px;
      padding: 3px;
      font-weight: bold;
      color: blueviolet;
      padding-left: 20px;
      cursor: grab;
    }